.banner{
    background-image: url('/images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

.banner_content{
    min-height: 600px;
    max-width: 1180px;
    margin: auto;
}

h1.banner_heading {
    color: white;
    text-transform: capitalize;
    padding: 2rem 0;
}

p.header_paragraph {
    color: white;
    padding-bottom: 2rem;
}

button.register-button.banner_button {
    margin: 0;
    background: #FFB548;
    border: 1.5px solid #FFB548;
}

.banner_wrapper {
    position: absolute;
    top: 50%;
    padding: 0 25px;
    width: 20%;
    transform: translate(0px, -50%);
}

@media screen and (max-width: 1024px) {
    .banner_wrapper{
        width: unset;
    }
}