.banner{
    background-image: url(/images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

h1.banner_heading {
    color: white;
    text-transform: capitalize;
    padding: 2rem 0;
}

p.header_paragraph {
    color: white;
    padding-bottom: 2rem;
}

button.register-button.banner_button {
    margin: 0;
    background: #FFB548;
    border: 1.5px solid #FFB548;
}

.banner_wrapper {
    width: 20%;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
}