.annoucement_bar{
  background: #FFB548;
  width: 100%;
  display: flex;
  justify-content: center;
}
.annoucement_bar a {
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  padding: 1rem 0;
}

.wrapper {
  position: relative;
  min-height: 600px;
  max-width: 1200px;
  margin: auto;
}

.btn {
  color: #ffff;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;
}

.btn.cta{
  background: #003333;
  border: 1.5px solid #003333;
  margin-top: 2rem;
}

.footer{
  background: #003333;
}


