@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,400;1,100&family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,300;1,500&family=Montserrat:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,400;1,100&family=Epilogue:ital,wght@1,500&family=Montserrat:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'EPILOGUE', sans-serif;
}

p,
button,
span,
a {
  font-family: 'Archivo', sans-serif;
}

.annoucement_bar{
  background: #FFB548;
  width: 100%;
  display: flex;
  justify-content: center;
}
.annoucement_bar a {
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  padding: 1rem 0;
}

.wrapper {
  position: relative;
  min-height: 600px;
  max-width: 1180px;
  margin: auto;
}

.btn {
  color: #ffff;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;
}

.btn.cta{
  background: #003333;
  border: 1.5px solid #003333;
  margin-top: 2rem;
}

.footer{
  background: #004D58;
  color: #ffff;
}

.left_content {
  display: flex;
}

.left_content .left {
  border-right: 1px solid;
  padding-right: 2rem;
}

.left_content  .right {
  padding-left: 2rem;
}

.left p,
.right p,
.right_content p {
  margin: 0.5rem 0;
}

.footer_wrapper{
  padding: 4rem 25px;
  min-height: 400px;
}

.footer_content_left {
  width: 65%;
  float: left;
}

.footer_content_right {
  width: 30%;
  float: right;
}

.small_text{
  font-size: 10px;
  width: 80%;
  color: #5FD0DF;
  padding-top: 1rem;
}

/*Stying for small screens*/
@media (max-width: 1180px) {
  .wrapper{
    display: flex;
  }
  .footer_wrapper {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  nav{
    padding: 0;
  }
  .left_content{
    display: block;
  }
  .left_content .right {
    padding: 0rem;
    margin-top: 1rem;
  }
  .footer_content_right {
    margin-top: 1.2rem;
    width: auto;
  }
  .footer_content_left {
    width: auto;
  }
  .left_content .left {
    border: none;
  }
}



