.ourStory.banner {
  background-image: url('/images/img_amenities_hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
}

.ourStory .wrapper {
  min-height: 400px;
}

.ourStory.section_one {
  background: #B6E7EE;
}

.ourStory .section_heading {
  line-height: 3.6rem;
}

.ourStory.section_one.secondary {
  background: #DBF3F6;
  box-shadow: none;
  padding-top: 100px;
}

.ourStory.section_one.secondary.white_background {
  background: #ffffff;
  box-shadow: none;
  padding: 100px 0;
}

.ourStory.section_one.cta {
  background: #FFB548;
  padding: 60px 0;
  box-shadow: unset;
}

/* cta */
.ourStory .section_heading {
  position: relative;
  padding: 0px 10px;
}

.ourStory h1.section_heading {
  padding: 3rem 2rem;
}

.ourStory .section_heading:after {
  content: '';
  position: absolute;
  width: 10rem;
  height: 0.1rem;
  left: 50%;
  top: 92%;
  transform: translate(-50%, 0px);
  background: #003333;
}

.ourStory .map_header .section_heading:after {
  top: 75px;
}

.ourStory.section_one.cta .section_heading:after {
  width: 6rem;
  height: 0.1rem;
  top: 75px;
}

.ourStory .section_paragraph_second {
  margin: 65px auto 0;
}

/* two column */

.ourStory .two_column {
  display: flex;
  justify-content: space-evenly;
}

.ourStory .column_one {
  width: 35%;
  float: left;
}

.ourStory .column_two {
  width: 35%;
  float: right;
}

.column_one p,
.column_two p {
  text-align: left;
}

.ourStory.section_one.secondary.white_background .secondary_wrapper {
  margin-bottom: 0;
  padding-top: 0;
}

/* Team Section */
.ourStory.section_one.secondary.white_background .two_column {
  margin-top: 4rem;
}

@media (max-width: 450px){
  .ourStory .map_header .section_heading:after{
   top: 125px; 
  }
}

@media (max-width: 600px) {
  .ourStory .two_column {
    flex-direction: column;
  }

  .ourStory.section_one.secondary .column_one,
  .ourStory.section_one.secondary .column_two {
    width: 85%;
    margin: 0 auto 25px;
  }

  .ourStory.section_one .wrapper {
    margin-bottom: 0rem;
  }
  
  .section_paragraph_first {
    font-size: 18px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .ourStory .wrapper {
    margin-bottom: 0px;
  }

  .ourStory.section_one.secondary {
    padding-bottom: 100px;
  }
}
