.section_two{
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.overlapping_content {
  margin-top: -100px;
  position: relative;
  z-index: 4;
}

.overlapping_content_two {
  margin-bottom: -100px;
  position: relative;
  z-index: 4;
}

.image_right{
  height: 600px;
  width: 70%;
  float: right;
}
.overlapping_card{
  width: 40%;
  background: #004D58;
  position: absolute;
  z-index: 2;
  top: 60%;
}

.overlapping_card_content {
  padding: 5rem 3rem;
  color: white;
}

.image_left {
  height: 600px;
  width: 70%;
}

.overlapping_card_right {
  float: right;
  background: #5FD0DF;
  position: absolute;
  right: 0;
  top: 60%;
  width: 40%;
  z-index: 2;
}

.empty{
  height: 300px;
  display: block;
  width: 100%;
}

.overlapping_card_heading,
.overlapping_card_paragraph {
  padding-bottom: 1.5rem;
  line-height: 1.5rem;
}
p.overlapping_card_paragraph{
  font-weight: 200;
}

.overlapping_card .btn,
.overlapping_card_right .btn{
  margin: 0;
  background: none;
  border: 1.5px solid;
}


@media (max-width: 600px) {
  .overlapping_card,
  .overlapping_card_right {
    width: 90%;
  }

  .overlapping_content{
    margin-top: -35px;
  }

  .overlapping_content_two{
    margin-bottom: -35px;
  }

  .image_right,
  .image_left {
    width: 100%;
  }
  .empty{
    height: 150px;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .image_right,
  .image_left {
    height: 350px;
  }
  .overlapping_card,
  .overlapping_card_right {
    width: 80%;
  }
  .overlapping_content{
    margin-top: -60px;
  }
}