.section_one {
  background: #B6E7EE;
  box-shadow: 0 3px 30px rgb(0 0 0 / 50%);
  z-index: 3;
  position: relative;
}

.section_one h1,
.section_one p{
  color: #004D58;
}

h1.section_heading {
  padding: 3rem 0;
  font-size: 40px;
  position: relative;
  text-align: center;
}

h1.section_heading:after{
  content: '';
  position: absolute;
  width: 10rem;
  height: 0.15rem;
  left: 50%;
  top: 80%;
  transform: translate(-50%, 0px);
  background: #003333;
}

.section_paragraph_first {
  color: #003333;
  text-align: center;
  font-size: 22px;
  padding-bottom: 3rem;
  width: 85%;
}

.section_paragraph_second{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.section_one .wrapper{
  height: 500px;
  min-height: 500px;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section_one.secondary {
  background: #FFB548;
  padding-top: 325px;
  padding-bottom: 150px;
}

.secondary_wrapper {
  max-width: 1180px;
  margin: auto;
  padding: 0 10%;
}

@media (max-width: 600px) {
  .section_one .wrapper{
    height: unset;
    min-height: unset;
  }
  .section_one.secondary{
    padding-top: 200px;
    padding-bottom: 100px;
  }
  .secondary_wrapper{
    padding: 0;
  }
}